# Module 7: Introduction to Data, Datasets, and Basic Python

*****************

### What is Data?

Data are individual units of information. In analytics, data are represented by variables. Data can include the names of everyone in a community, the height of each player on a basketball team, the life-expectency rate for several different countries, a description of symptoms from a patient over the course of a hospital stay, or the text from several articles about a specific topic. Data is endless, and as more avenues become available for collecting information, traditional data is expanding into BIG data. 

### Structure of a Dataset

In this course, we will be focusing exclusively on <b>structured</b> data -- that is, data that is already organized into a neat and pridictable structure. This includes storing data in columns and rows which makes it easy to understand and manipulate. 

![alt text](dataset.png "Structure of a Dataset")

### Variables, Values, Observations

* Data is typically stored in groups for easier manipulation and organization. 
* <b>VALUES</b> are individual bits of data. Values can include a number, a sentence, a symbol, an address, etc. Several values can be stored within a variable for easy access. 
    - Integer: a whole number (87)
    - Float: a decimal (6.87)
    - String value: alpha-numeric - "Hello"
* <b>VARIABLES</b> are containers for a specific series of values. A variable can hold one or several values. For example, a variable called <b>names</b> contains all the names of a group of students.

# Importing Data into Notebook with Python

***************************

#### Working with Structured Datasets

In this course, we will be working with structured datasets that are easy to explore and manipulate. Once you learn the basics of how to work with this style of data, you will be able to apply what you learn to numerous other datasets. It is possible to construct a dataset from scratch using Python (we will learn more about this later) -- but for now, we are going to work on importing already created datasets into your notebook.


#### What is a library?

Libraries are packages of pre-defined functions that are not included in basic python. You will need to manually import each library you want to access -- once imported, you can use all the libraries functions throughout the entire notebook. We will use multiple libraries throughout the duration of this course but we will start with the one library we will use in each class going forward - PANDAS. 

#### Intro to the Pandas Library 

Pandas stands for <b><i>Python Data Analysis Library</i></b>. This package makes working with and analyzing data with Python very easy and is one of the most preferred and used tools in data exploration/manipulation. Starting with Pandas will give you a fast and useful introduction to working with data and luckily, pandas is able to take data (like a CSV file) and transforms it into a Python object called a <b><i>DataFrame</i></b>. This is the same structure we consider a dataset.

#### Pandas Library

In [ ]:
import pandas as pd

#### Importing a Dataset

In [ ]:
df = pd.read_csv("pokemon.csv")

#### Displaying the Dataset

In [ ]:
df

In [ ]:
df.head(15)

In [ ]:
df.tail()

In [ ]:
df.head(10)

#### Data Attributes

In [ ]:
df.info()

## { Exercise 1 }

Import the "dental.csv" file that is saved on canvas. 

* name the file "dt" when you import it
* preview the first 6 rows
* preview the last 4 rows
* use the code to find the information about the dataset. how many columns are there? how many rows?

#### Highlighting and Selecting Columns

In [ ]:
df["Name"]

In [ ]:
df["Name"][0]

In [ ]:
df[["Name"]]

In [ ]:
df[["Name", "Type 1", "Stage"]]

In [ ]:
## creating a new dataset from an existing
# pick and choose the columns you want to include

df2 = df[["Name", "Type 1", "Type 2", "Stage"]]

# preview the new dataset

df2.head()

## { Exercise 2 }

Using the "dental.csv" file that you imported in the earlier exercise:

* select the column that shows the persons first name 
* select the column that shows the age of the dental patients
* select the first row of the column that shows if the patient has insurance
* return four columns (you pick) using one line of code
* create a new dataset called "dt2" that only includes first name, age, and gender

### Indexing and Slicing a Dataset: iloc method

Indexing in python is zero-based (numbering starts with 0). Index recalls the item that is at a specific position. When you are working with datasets, the indexing references the rows and columns of the entire dataset. 

* The iloc method selects rows and columns based on the index value.

In [ ]:
df.head()

#### Selecting Rows with iloc

In [ ]:
# selecting a specific row

df.iloc[0]

In [ ]:
# selecting a specific row

df.iloc[4]

In [ ]:
# slicing a dataset
# rows 0 through 5

df.iloc[0:6]

In [ ]:
# slicing a dataset
# skipping rows with step option

df.iloc[0:11:2]

In [ ]:
# slicing a dataset
# skipping rows with step option

df.iloc[0:11:3]

In [ ]:
# selecting non-consecutive rows

df.iloc[[0, 17, 38]]

#### Selecting Columns with iloc

In [ ]:
# selecting rows and columns by index 
# df.iloc[row index, column index]

# what information can be found at row 0 column 1?

df.iloc[0,1]

In [ ]:
# what information can be found at row 10 column 3?

df.iloc[10,3]

In [ ]:
# selecting multiple columns 

# selecting row 10, columns 0 through 3

df.iloc[10, 0:4]

In [ ]:
# selecting non-consecutive columns with iloc

df.iloc[10, [0, 2, 4]]

In [ ]:
# selecting non-consecutive columns with iloc
# return output as dataframe style 

df.iloc[[10], [0, 2, 4]]

In [ ]:
# selecting non-consecutive rows and columns

df.iloc[[0, 6, 12], [1, 3, 5]]

In [ ]:
# selecting all rows for specific columns
# use " : " to represent all rows 

df.iloc[:, [0, 3, 6]]

In [ ]:
## selecting all columns for specific rows

df.iloc[[3, 5, 10], :]

## { Exercise 3 }

Using the "dental.csv" file that you imported in the earlier exercise:

* view the first 10 rows of data in the "dt" dataset
* select one row of data in the "dt" dataset, select the row at index position 16
* select the rows in the "dt" dataset from index position 0 to 10 (make sure your output includes the row at index 10)
* select the rows 0, 10, 20, 30, and 40 from the "dt" dataset. What is the name of the individual in row 30?
* select the row at index position 33 for only the column in index position 2. What information is given?
* select the rows between index positions 0 through 10 - for the columns in positions 0, 4, and 5.

### Indexing and Slicing a Dataset: loc method

When you use the loc method (instead of iloc), instead of referencing the index numeric-value -- you reference the label of the row/column. This method has several limitations, and the data will have to be in a specific format to use this method. 

* The loc method selects rows and columns based on a row or column label.

In [ ]:
# changing the index of a dataset

df = pd.read_csv("pokemon.csv", index_col = "Name")

# import the dataset as you saw previously
# include the option  >> index_col = "column name"

df.head()

In [ ]:
# instead of calling a row by index number, you will use index label

df.loc["Pikachu"]

In [ ]:
# selecting multiple rows with loc

df.loc[["Metapod", "Weedle", "Charmander"]]

In [ ]:
# selecting rows and columns

df.loc["Pikachu", "Type 1"]

In [ ]:
# selecting multiple rows and multiple columns 

df.loc[["Metapod", "Weedle", "Charmander"],["Type 1","HP","Stage"]]

In [ ]:
# selecting all rows or all columns

## all rows

df.loc[:, ["Type 1", "Stage"]]

In [ ]:
# selecting all rows or all columns

## all columns

df.loc[["Pikachu", "Weedle"], :]

In [ ]:
# slicing using loc

df.loc["Ivysaur":"Weedle", "Stage"]

In [ ]:
# slicing using loc

df.loc["Ivysaur", "Type 1":"Attack"]

## { Exercise 4 }

Using the "dental.csv" file that you imported in the earlier exercise:

* Import the "dental.csv" dataset again. This time, change the index to the column "Last". Again, nickname the dataset "dt". Preview the first five rows of the dataset. Does the index look like you expected?
* Select the row with the label "Hudson". What information is available for this person?
* Select the rows with the labels "Bailey", "Hays", and "Taylor" -- how many individuals in the dataset have one of these last names?
* Select the rows with the label "Compton" for the columns "Age", "Gender", "Insurance", and "New Patient". Is this person a new or existing patient?
* It's time to send everyone their outstanding bills! Select all the rows for the columns "First" and "OutstandingBalance".

#### Exporting Data to .csv file

In [ ]:
df.to_csv("new file.csv")

## { Module 6 Practice }

#### The Basics

* Create a variable that has an integer value and another variable that has a float value.
* Print the sum of the two variables you just created.
* Write the code to find the type of data each variable contains.
* Create a list with all the days of the week. Name it "days". Print the list.

#### Importing and Inspecting Data

* Import the pandas library and nickname it "pd"
* Import the "pokemon.csv" file, nickname the dataset "pk"
* Inspect the first five rows of "pk". What is the name of the first Pokemon listed?
* Inspect the last 5 rows of "pk". How many rows are there total in the dataset?
* Complete the code below to output the summary information about the dataset. How many columns are there total in "pk"? In which column(s) do we have miss/NaN values?

#### Subsets and Indexing 

* It looks like "pk" has a lot more information than we need right now. Let's simplfy by only looking at a subset of the original dataset. Write the code to show only the following columns: "Name", "Type 1", "Attack", "Defense", and "Stage".
* Using the iloc function, select the rows from index position 0 to 10, for columns "Name" and "Type 1".
* Using the iloc function, select the rows at index position 0, 10, 20, 30, 45, and 50, for all columns.
* Re-import the pokemon dataset and change the index to be the "Name" column. Again, nickname this dataset "pk". Preview the first five rows of "pk" to check if the new index is as expected.
* Using the loc function, select the rows with labels: "Metapod", "Weedle", and "Mew" for all columns. Which pokemon has the highest Attack value?
* Using the loc function, select the rows with the labels: "Charmander", "Charmeleon", and "Charizard", for the columns with the labels: "Type 1", "Attack", "Defense", and "Stage". Which pokemon has the lowest defense value?

#### Exporting

* Export the pokemon dataset "pk" to a csv file. Check the class folder, did the file show up?

## { Module 6 Homework }

1. Import the pandas library

In [ ]:
import pandas as ps

2. Import the axisdata.csv file (saved to Canvas) and store the dataset in a variable named: sales. This dataset includes information about a sales team for a local company. The dataset includes the following columns:

        Fname: first name of the sales person
        Lname: last name of the sales person
        Gender: gender of the sales person
        Hours Worked: hours worked in the last week
        SalesTraining: if sales person ever received sales training
        Years Experience: total years of sales experience
        Cars Sold: number of cars sold in the last week

In [ ]:
sales = pd.read_csv("axisdata.csv")

3. Inspect the first 10 rows of the dataset "sales". What is the full name of the very first sales person?

In [ ]:
sales.head(9)

#the first person is Jada Walters

4. Inspect the last 5 rows of the dataset sales. How many rows are there in total in our dataset?

In [ ]:
sales.tail(5)
#There are 999 rows in the dataset

5. Write the code to find the information about the dataset. How many columns are there total? In which column(s) do we have missing/NaN values?

In [ ]:
sales
#there are 7 columns

6. Write the code to get summary statistics for our dataset. What is the maximum value in column Hours Worked? What is the minimum value in column Years Experience? What is the average value in column Cars Sold?

In [ ]:
sales.info
#max Hr is 5
#Min value Years is NaN

7. Using the sales dataset, select/display only the Lname column without using iloc or loc. What is the last name of the second sales person?

8. Look at the sales dataset at index position 100 with the iloc operation. How many hours has this sales person worked in the past week?

9. Look at the sales dataset at index position 35 with the iloc operation. Only select for the column "Cars Sold". How many cars did this sales person sell in the past week?

10. Select the last 7 rows and the columns: fname, gender, and years experience with the iloc operation. How many women are there in this subset? How many years of experience does the last sales person have?

11. Write the code below to re-import the axisdata.csv file as "sales". This time, change the index from the default to the column "Lname".

In [ ]:
sales = pd.read_csv("axisdata.csv")

12. Write the code to examine the first 5 rows of the sales dataset. Is the index the column that you wanted?

In [ ]:
sales.head(4)

13. Select the row with the index label "Monroe" using the loc operation. How many sales people have not completed sales training?

14. Select the row with the index label "Sears" and the columns "Gender" and "Hours Worked", using the loc operation. How many hours did the first two sales people work?

15. Select the columns "Fname" and "Years Experience" for all rows using the loc operation.

16. Export your "sales" dataset to a .csv file called "Module 6 HW".